version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: my-postgres-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydatabase
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U myuser -d mydatabase" ]
      interval: 5s
      timeout: 10s
      retries: 10
    networks:
      - mynet

  app:
    build:
      context: .
      dockerfile: src/main/docker/Dockerfile.jvm
    restart: unless-stopped
    environment:
      QUARKUS_DATASOURCE_JDBC_URL: jdbc:postgresql://postgres:5432/mydatabase
      QUARKUS_DATASOURCE_USERNAME: myuser
      QUARKUS_DATASOURCE_PASSWORD: mypassword
      QUARKUS_DATASOURCE_DB_KIND: postgresql
      QUARKUS_HIBERNATE_ORM_DATABASE_GENERATION: update
      QUARKUS_DEV_SERVICES_ENABLED: false
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - mynet

volumes:
  postgres_data:

networks:
  mynet:
    driver: bridge
